<!DOCTYPE html>
<html>
<body>
<h1>HTML Geolocation</h1>
<p>Click the button to get your coordinates.</p>
<form method="POST">
  {% csrf_token %}
    <button onclick="getLocation()">Try It</button>
</form>
<!-- <button onclick="getLocation()">Try It</button> -->





<p id="demo"></p>

<script>
    const x = document.getElementById("demo");
    
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    
    function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude +
      "<br>Longitude: " + position.coords.longitude;
      var lat = position.coords.latitude ;
      var long = position.coords.longitude ;
      document.cookie = "myVariable=" + encodeURIComponent(lat);
      document.cookie = "long=" + encodeURIComponent(long);
    }
    </script>


</body>
</html>

