argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
crispy-bootstrap4==2023.1
cryptography==41.0.7
Django==4.2.7
django-crispy-forms==2.1
googlemaps==4.10.0
idna==3.6
pycparser==2.21
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.1.0
vboxapi==1.0
