body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    animation: pulse 100s infinite;
}

#logo {
    height: 50px;
    width: 50px;
    background-image: url(/IMAGES/mech1.jpg);
    background-size: cover;
    border-radius: 100px;
}

.navbar-brand {
    margin-left: 10px;
}

#google-map {
    margin-top: 10px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #google-map {
        margin-top: 10px;
    }
    .submit {
        margin: 10px auto; /* Center the button on small screens */
    }
}

#timer {
    font-size: 30px;
}

.submit {
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto; /* Add margin for spacing */
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    border-radius: 20px;
}

  .container {
    position: relative;
    width: 50%;
    margin: 280px auto; 
    padding: 20px 40px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  }
  
  .Loading {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #f1f1f1;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .Loading:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load 10s infinite;
  }
  
  @keyframes load {
    0% {
      width: 0;
      background: #a28089;
    }
    
    25% {
      width: 40%;
      background: #a0d2eb;
    }
    
    50% {
      width: 60%;
      background: #ffa8b6;
    }
    
    75% {
      width: 75%;
      background: #d0bdf4;
    }
    
    100% {
      width: 100%;
      background: #494d5f;
    }
  }
  
  @keyframes pulse {
    0% {
      background: #a28089;
    }
    
    25% {
      background: #a0d2eb;
    }
    
    50% {
      background: #ffa8b6;
    }
    
    75% {
      background: #d0bdf4;
    }
    
    100% {
      background: #494d5f;
    }
}
